<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<style>
    body { margin:0; padding:0; }
    #map {
        top:0; bottom:0;
        width: 320px;
    }
</style>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container-fluid">
    <div th:if="${success}"
         class="row-md-12 alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <span th:text="${success}"></span>
    </div>
    <div class="row row-sm-12">
        <form class="row row-cols-lg-auto g-3 align-items-center" th:action="@{/student/search}" th:object="${searchFormDTO}" method="GET">
            <div class="col-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-text">Name</div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" th:field="*{fname}" placeholder="Type name student . . ." />
                </div>
            </div>

            <div class="col-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Age</label>
                <div class="input-group">
                    <div class="input-group-text">Age</div>
                    <input type="text" class="form-control" th:field="*{fage}" placeholder="Type age student . . ."/>
                </div>
            </div>

            <div class="col-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Date</label>
                <div class="input-group">
                    <div class="input-group-text">Date</div>
                    <input type="date" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" th:field="*{fdate}" placeholder="yyyy-mm-dd"/>
                </div>
            </div>

            <div class="col-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <div class="row row-sm-12">
        <div class="col-sm-1 float-right">
            <a th:href="@{/student/create}" class="btn btn-success pull-left">
                <span class="glyphicon glyphicon-plus"></span> Add new employee
            </a>
        </div>
        <div class="col-sm-2 float-right" style="padding-left: 93px;">
            <a th:href="@{/download/file}" class="btn btn-primary pull-left">
                <span class="glyphicon glyphicon-plus"></span> Download File
            </a>
        </div>
<!--        <div class="input-group col-sm-3">-->
<!--            <div class="input-group-prepend">-->
<!--                <span class="input-group-text" id="basic-addon1">@Center</span>-->
<!--            </div>-->
<!--            <input id="center" type="text" class="form-control">-->
<!--        </div>-->
<!--        <div class="input-group col-sm-3">-->
<!--            <div class="input-group-prepend">-->
<!--                <button id="panTo" class="btn btn-outline-secondary" type="button">JumTo</button>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" id="latLng">-->
<!--        </div>-->
    </div>
<!--    <div class="row row-sm-12">-->
<!--        <div class="input-group col-sm-6">-->
<!--            <div class="input-group-prepend">-->
<!--                <button class="btn btn-outline-primary" id="btn-jum" type="button">Button</button>-->
<!--            </div>-->
<!--            <select class="custom-select" id="inputGroupSelect03">-->
<!--                <option th:each="coordinate : ${T(com.techbase.practicespringboot.entity.Coordinates).values()}"-->
<!--                        th:value="${coordinate.position}" th:text="${coordinate.names}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row row-md-12 row-sm-12">
<!--        <div id="map" class="col-sm-6 col-md-6"> </div>-->

<!--        <div id="customerTable" class="col-sm-6 col-md-6">-->
        <div id="customerTable" class="col-sm-12 col-md-12">
            <th:block th:if="${#lists.isEmpty(page.getContent())}">
                <h3>No employee</h3>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(page.getContent())}">
                <div class="row-md-12"  >
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Score</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr th:each="contact,iterStat : ${page.getContent()}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${contact.name}"></td>
                            <td th:text="${contact.age}"></td>
                            <td th:text="${contact.gender}"></td>
                            <td th:text="${contact.address}"></td>
                            <td th:text="${contact.score}"></td>
                            <td th:text="${contact.date}"></td>
                            <td th:text="${contact.time}"></td>
                            <td><a th:href="@{/student/{id}/edit(id=${contact.id})}">Edit</a></td>
                            <td><a th:href="@{/student/{id}/delete(id=${contact.id})}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${page.getTotalPages() > 1}" class="row row-md-12 row-sm-12" style="padding-left: 320px;">
                    <nav aria-label="Page navigation example">
                        <div class="page-item">
                            Total Rows: [[${page.getTotalElements()}]]
                        </div>
                        <ul class="pagination" id="btn-get">
                            <li id="btn=last" class="page-item" th:if="${page.hasPrevious()}">
                                <button th:onclick="|getUser2(${currentPage-1})|" class="page-link">Previous</button>
                            </li>
                            <li class="page-item" th:unless="${page.hasPrevious()}">
                                <button class="page-link">Previous</button>
                            </li>

                            <div th:each="i: ${#numbers.sequence(1, page.getTotalPages())}">
                                <div th:if="${currentPage != i}">
                                    <li class="page-item">
                                        <a class="page-link" th:onclick="|getUser2(${i})|">[[${i}]]</a>
                                    </li>
                                </div>
                                <li class="page-item active "><span class="page-link"
                                                                    th:unless="${currentPage != i}">[[${i}]]</span></li>
                            </div>
                            <li id="btn-next" class="page-item" th:if="${page.hasNext()}">
                                <button th:onclick="|getUser2(${currentPage+1})|" class="page-link" >Next</button>
                            </li>
                            <li class="page-item" th:unless="${page.hasNext()}">
                                <button class="page-link" >Next</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
<!--<script th:src="@{/js/custom-mapbox.js}"></script>-->
<script>
$(document).ready(()=>{
    $("#btn-download").click( () => {
         window.location.href = "/download/file";
    });

    $("#btn-jum").on('click', () => {
        let coordinate = $("#inputGroupSelect03").val();
        jumTo(coordinate);
    });

    $("#panTo").on('click', () => {
        let coordinate = $("#latLng").val();
        jumTo(coordinate);
    });
});
function getUser2(currentPage){
    $.ajax({
        url: `/student/page?page=${currentPage}`,
        success: function(result){
            $('#customerTable').replaceWith(result);
        },
    });
}
</script>
</body>
</html>